@import "tailwindcss";

body {
  background-color: #fefefe;
  font-family: var(--font-spartan), sans-serif;
}

.container {
  width: 95%;
  margin-inline: auto;
}

:root {
  --navbar-backGround: #f5f9fa;
}
